body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 15px;
    margin: 0;
}

p{
    margin: 0;
}

h1,h2,h3,h4 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section__home {
    width: 100%;
    height: 100vh;
    background: url(
        ../img/image_01.jpg)
        center no-repeat;
    background-size: cover;

    position: relative;
}

.home__header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header__logo{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.header__nav {
    padding-top: 15px;
}

.nav__item {
    margin: 0 20px;

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    position: relative;

    transition: .2s linear;
}

.nav__item:hover {
    color: #fce38a;
}

.nav__item.active {
    color: #fce38a;
}

.nav__item::after {
    content:"";
    display: block;

    width: 100%;
    height: 3px;

    background-color: #fce38a;

    opacity: 0;

    position:absolute;
    top: 30px;
    left: 50%;

    transform: translateX(-50%);

    transition: .2s linear;
}

.nav__item:hover::after {
    opacity: 1;
}

.nav__item.active::after {
    opacity: 1;
}

.container__home{
    width: 100%;
    max-width: 900px;

    position: relative;

    margin: 0 auto;
}

.home__above {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    text-align: center;
    color: #fff ;

    margin-top: 60px;
    margin-bottom: 20px;
}

.home__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    line-height: .9;

    position: relative;
}

.home__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: #fff;

    position: absolute;
    bottom: -50px;
    left: 50%;

    transform: translateX(-50%);
}


.home__button{
    position: absolute;
    bottom: -150px;
    left: 50%;

    background: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    border: 2px solid #fff;

    transform: translateX(-50%);

    padding: 15px 25px;
}

.home__button:hover {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}


/* Slider */
.home__slider {
    display: flex;
    justify-content: space-between;

    width: 1200px;

    position: absolute;
    bottom: 0;
}

.home__slider__item {
    width: 23%;

    padding: 25px 0;

    position: relative;

    color: #fff;

    opacity: 0.5;

    border-top: 3px solid #fff;
}

.home__slider__item.active {
    opacity: 1;
}

.home__slider__item.active::before {
    content: "";
    display: block;

    height: 3px;
    width: 70px;

    position: absolute;
    top: -3px;
    left: 0;

    background-color: #f38181;
}

.home__slider__num {
    font-size: 24px;
    font-weight: 700;
}

.home__slider__text {
    font-size: 18px;
    text-transform: uppercase;
}



/* Standart Section */
.standart__section {
    padding: 90px 0;

    text-align: center;
}

.standart__container {
    max-width: 960px;
    width: 100%;

    margin: 0 auto;
}

.standart__pre__title {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;

    margin-bottom: 10px;
}

.standart__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    position: relative;
}

.standart__title::after {
    content: "";
    display: block;

    position: absolute;

    left: 50%;
    top: 70px;

    height: 3px;
    width: 60px;

    background-color: #f38181;

    transform: translateX(-50%);
}

.standart__text {
    color: #999;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;

    margin-top: 90px;

}


/* About */
.section__about {
    margin-bottom: 110px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__item {
    background-color: #95e1d3;
}

.item__gradient {
    position: relative;

    background: linear-gradient(
        to bottom,#f38181,#fce38a);
    transition: .2s linear;

}

.about__item:hover .item__gradient{
    transform: translate3d(-10px,-10px,0);
}

.about__img {
    display: block;
}

.about__item:hover .about__img {
    opacity: 0.1;

    transition: .2s linear;
}

.about__icon {
    position: absolute;
    left: 50%;
    top: 42%;

    color: #fff;
    font-size: 24px;

    opacity: 0;

    transform: translateX(-50%);

    transition: .2s linear;
}

.about__title {
    position: absolute;
    left: 50%;
    top: 58%;

    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;

    opacity: 0;

    transform: translateX(-50%);

    transition: .2s linear;
}

.about__item:hover .about__title,
.about__item:hover .about__icon {
    opacity: 1;
}


/* Stat */
.section__stat {
    background-color: #95e1d3;
}

.stat__inner {
    display: flex;
    justify-content: space-between;
}

.stat__item {
    width: 20%;

    padding: 90px 0;

    border-left: 1px solid rgba(255, 255, 255, 0.506);
}

.stat__item:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.52);
}

.stat__num {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
}

.stat__text {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}


/* Service */
.service__line {
    display: flex;
    justify-content: space-between;

    margin-bottom: 60px;
}

.service__item {
    width: 33%;

    position: relative;
}

.service__icon {
    position: absolute;
    top: 0;
    left: 30px;

    font-size: 35px;
    color: #95e1d3;
}

.service__title {
    text-transform: uppercase;
    font-weight: 700;

    padding-left: 90px;
    margin-bottom: 10px;
}

.service__text {
    color: #999;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;

    padding-left: 90px;
}

hr {
    margin-bottom: 60px;
}


/* Devices */
.section__devices {
    background: url(
        ../img/devices/bg.jpg)
        center no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;

    position: relative;
}

.ipad {
    width: 480px;
    height: 560px;

    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-60%);
}

.iphone {
    width: 255px;
    height: 500px;

    position: absolute;
    bottom: -90px;
    left: 55%;
}


/* Service__we__do */
.section__service__we__do {
    margin-bottom: 120px;
}

.service__we__do__content {
    display: flex;
    justify-content: space-between;
}

.service__wd__img {
    width: 570px;
    height: 380px;
}

.service__accordion {
    width: 45%;
}

.accordion__item {
    position: relative;

    margin-bottom: 10px;
}

.accordion__icon {
    font-size: 32px;
    color: #95e1d3;

    position: absolute;
    top: 15px;
    left: 15px;
}

.accordion__title {
    text-transform: uppercase;
    font-weight: 700;

    position: relative;

    padding: 25px 0;
    padding-left: 60px;

    border: 1px solid #e5e5e5;
}

.accordion__title::after {
    content: "";
    display: block;

    width: 15px;
    height: 15px;

    border-top: 3px solid #d3d3d3;
    border-left: 3px solid #d3d3d3;

    position: absolute;
    right: 20px;
    top: 50%;

    transform: translateY(-50%) rotate(225deg);
}

.accordion__item.active .accordion__title::after  {
    transform: translateY(-40%) rotate(45deg);
}

.accordion__text {
    color: #999;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-style: italic;
    font-weight: 300;

    padding: 20px 60px 30px 20px;

    border: 1px solid #e5e5e5;

    border-top: none;
}


/* Comments */
.section__comments {
    background-color: #f8f8f8;

    padding: 70px 0;

    
}

.comment__item {
    position: relative;
}

.comment__prev {
    color: rgba(255, 255, 255, 0);

    position: absolute;
    top: 50%;
    left: 20px;

    transform: translateY(-50%);
}

.comment__prev::after {
    content: "";
    display: block;

    width: 10px;
    height: 10px;

    border-top: 3px solid #cfcfcf;
    border-left: 3px solid #cfcfcf;

    transform: rotate(-45deg);
}

.comment__next {
    color: rgba(255, 255, 255, 0);

    position: absolute;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);
}   

.comment__next::after {
    content: "";
    display: block;

    width: 10px;
    height: 10px;

    border-top: 3px solid #cfcfcf;
    border-left: 3px solid #cfcfcf;

    transform: rotate(135deg);
}

.comments__icon {
    position: absolute;
    left: 110px;
    top: 50%;

    color: #95e1d3;
    font-size: 40px;

    padding: 40px;

    border: 3px solid #95e1d3;

    transform: translateY(-50%);

}

.comments__text {
    padding-left: 320px;
    padding-right: 130px;
    margin-bottom: 20px;

    color: #999;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
}

.comments__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;

    padding-left: 390px;

    position: relative;
    
}

.comments__author::before {
    content: "";
    display: block;

    width: 60px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: 50%;
    left: 320px;

    transform: translateY(-50%);
}



